<!doctype html5>
<html>
<head>
    <base href='/'>
    <meta charset="utf-8" />   
    <style>
        body {
            background-color: #F2F2F2;
        }
        .head-left {
            font-size: 25px;
            padding-left:10px;
            padding-top:20px;
        }
        .header {
            font-size: 50px;
            text-align: center;
            padding-top: 50px;
        }
        .content {
            font-size: 20px;
            text-align: center;
            padding-top:120px;
            position: relative;
        }
    </style>

</head>
<body>
 <div class="head-left">
    Main Website
 </div>
 <div class="header">
    Site under
    <br/>
    <br/>
    <br/>
    Construction
</div>
<div class="content">
    Click here if you have an account <i><a [routerLink]="['/login']">Link</a></i>
</div>
</body>
</html>
