<style>
    .card{
        margin-top: 10px!important;
        margin-bottom: 10px!important;
        background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("/assets/img/service-background.png");
        background-size: cover;
        position:relative;
    }

    div.layer:hover {
        background-color:  rgba(133, 140, 240, 0.7);
    }

    div.green-layer:hover {
        background-color:  rgba(124, 206, 131, 0.7);
    }

    div.orange-layer:hover {
        background-color:  rgba(247, 153, 110, 0.7);
    }

    div.color-layer:hover i {
        display: inline
    }

    div.color-layer i {

        position: absolute;
        top: 60%;  
        left: 50%;
        transform: translate(-45%, -45%);
        display: none;
    }
</style>
<div class="main-content">
        <div class="container-fluid">
<div class="row">
        <div class="col-md-4 cols-sm-6 text-center">
            <a [routerLink]="['info-page']">
                <div class="card">               
                    <div class="card-body color-layer green-layer">
                            <br>
                            <br>
                            <h4>Competitor analysis </h4>    
                            <i class="material-icons">check_circle</i>                   
                            <br>
                            <br>                    
                    </div>
                </div>          
            </a>
        </div>
        <div class="col-md-4 cols-sm-6 text-center">
            <a [routerLink]="['info-page']">
                <div class="card">               
                    <div class="card-body color-layer orange-layer">
                            <br>
                            <br>
                            <h4>SEO </h4>  
                            <i class="material-icons">add_circle</i>                         
                            <br>
                            <br>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 cols-sm-6 text-center">
                <a [routerLink]="['info-page']">
                    <div class="card">               
                        <div class="card-body color-layer green-layer">
                            <br>
                            <br>
                            <h4>Lead Generation </h4>    
                            <i class="material-icons">check_circle</i>                       
                            <br>
                            <br>
                        </div>
                    </div>
                </a>
        </div>
</div>
<div class="row">
        <div class="col-md-4 cols-sm-6 text-center">
            <a [routerLink]="['info-page']">
                    <div class="card">               
                        <div class="card-body color-layer green-layer">
                            <br>
                            <br>
                            <h4>Billboard Marketing </h4>
                            <i class="material-icons">check_circle</i>                           
                            <br>
                            <br>
                        </div>
                    </div>
            </a>
        </div>
        <div class="col-md-4 cols-sm-6 text-center">
            <a [routerLink]="['info-page']">
                <div class="card">               
                    <div class="card-body color-layer green-layer">
                        <br>
                        <br>
                        <h4>Social Media Marketing</h4>   
                        <i class="material-icons">check_circle</i>                        
                        <br>
                        <br>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 cols-sm-6 text-center">
            <a [routerLink]="['info-page']">
                <div class="card">               
                    <div class="card-body color-layer green-layer">
                        <br>
                        <br>
                        <h4>Mobile + Website development </h4>  
                        <i class="material-icons">check_circle</i>                         
                        <br>
                        <br>
                    </div>
                </div>
            </a>
        </div>
</div>
<div class="row" >
        <div class="col-md-4 cols-sm-6 text-center" style="padding-bottom: 0px">
            <a [routerLink]="['info-page']">
                <div class="card">               
                    <div class="card-body color-layer green-layer">
                        <br>
                        <br>
                        <h4>Content Creation</h4>
                        <i class="material-icons">check_circle</i>                           
                        <br>
                        <br>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 cols-sm-6 text-center">
            <a [routerLink]="['info-page']">
                <div class="card">               
                    <div class="card-body color-layer green-layer">
                        <br>
                        <br>
                        <h4>Email Marketing </h4>      
                        <i class="material-icons">check_circle</i>                     
                        <br>
                        <br>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 cols-sm-6 text-center">
            <a [routerLink]="['info-page']">
                <div class="card">               
                    <div class="card-body color-layer orange-layer">
                        <br>
                        <br>
                        <h4>Professioonal Services</h4>   
                        <i class="material-icons">add_circle</i>                      
                        <br>
                        <br>
                    </div>
                </div>
            </a>
        </div>
</div>
</div>
</div>