<div class="container">      
        <!-- Outer Row -->
        <div class="row justify-content-center">
    
          <div class="col-xl-10 col-lg-12 col-md-9">
    
            <div class="card o-hidden border-0 shadow-lg my-5">
              <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <br/>
                <br/>
                <br/>
                <div class="row">
                  <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                  <div class="col-lg-6">
                    <div class="p-5">
                      <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Reset password</h1>
                      </div>
                      <form [formGroup]="resetPasswordForm">
                        <div class="form-group">                              
                                <mat-form-field class="example-full-width">
                                        <input type="password" matInput placeholder="*New password" formControlName="password">
                                </mat-form-field>      
                                <mat-error *ngIf="(resetPasswordForm.get('password').touched
                                || resetPasswordForm.get('password').dirty) 
                                && !resetPasswordForm.get('password').hasError('required')
                                && resetPasswordForm.get('password').hasError('minlength') ">
                                Password should have at least 6 letters
                                </mat-error>                 
                        </div>
                        <div class="form-group">                              
                                <mat-form-field class="example-full-width">
                                        <input type="password" matInput placeholder="*Confirm password" formControlName="rePassword">
                                </mat-form-field>  
                                <mat-error *ngIf="(resetPasswordForm.get('rePassword').touched
                                || resetPasswordForm.get('rePassword').dirty)
                                && !resetPasswordForm.get('rePassword').hasError('required')                                      
                                && resetPasswordForm.hasError('match') ">
                                Passwords does not match
                                </mat-error>    
                                             
                        </div>
                        <br>
                        <button [disabled]="!resetPasswordForm.valid "(click)="resetPassword()" type="submit" class="btn btn-primary btn-user btn-block">
                          Reset password
                        </button>         
                      </form>            
                      <hr>  
                      <div class="text-center">
                        <a  [routerLink]="['/login']">Login</a>      
                      </div>
                    </div>
                </div>
                <br/>
              </div>
              <br>

            </div>
    
          </div>
    
        </div>
    
      </div>