<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-4">
              <div class="card">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">notifications</i>                        
                      </div>
                      <h4 class="card-title">Notifications</h4>
                  </div>
                  <div class="card-body">
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">schedule</i>                        
                        </div>
                        <h4 class="card-title">Upcoming tasks</h4>
                    </div>
                    <div class="card-body">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                    <div class="card">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">accessibility</i>                        
                            </div>                            
                            <!-- <p class="card-category">Online presence</p>  -->
                            <h4 class="card-title">Customer input/Online presence</h4>
                        </div>
                        <div class="card-body">
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                           
                        </div>
                    </div>
            </div>
            <div class="col-md-4">
                    <div class="card">
                        <div class="card-header card-header-default card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">warning</i>                        
                            </div>                            
                            <!-- <p class="card-category">Online presence</p>  -->
                            <h4 class="card-title">TBD</h4>
                        </div>
                        <div class="card-body">
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                           
                        </div>
                    </div>
            </div>
            <div class="col-md-4">
                    <div class="card">
                        <div class="card-header card-header-danger card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">rate_review</i>                        
                            </div>                            
                            <!-- <p class="card-category">Online presence</p>  -->
                            <h4 class="card-title">Latest Review</h4>
                        </div>
                        <div class="card-body">
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                           
                        </div>
                    </div>
            </div>
            <div class="col-md-4">
                    <div class="card">
                        <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">directions</i>                        
                            </div>                            
                            <!-- <p class="card-category">Online presence</p>  -->
                            <h4 class="card-title">Trends/opportunities/promotions</h4>
                        </div>
                        <div class="card-body">
                            <br>
                            <br>
                            <br>
                            <br>
                           
                           
                        </div>
                    </div>
            </div>
      </div>
     
  </div>
</div>
