<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-10">
              <div class="card">
                  <div class="card-header card-header-success">
                      <h4 class="card-title">Edit Profile</h4>
                             </div>
                  <div class="card-body">
                      <form [formGroup]="profileForm">
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Username" disabled>
                                  </mat-form-field>
                              </div>
        
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Fist Name" type="text" formControlName="firstname">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Last Name" type="text" formControlName="lastname">
                                </mat-form-field>
                              </div>
                          </div>
                          <br>
                          <br>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Email" type="email" formControlName="email">
                                </mat-form-field>
                                <mat-error *ngIf="(profileForm.get('email').touched
                                    || profileForm.get('email').dirty) && !profileForm.get('email').hasError('required') 
                                    && profileForm.get('email').hasError('email')">Enter a valid email address
                                </mat-error>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Phone number" type="text" formControlName="phoneNumber">
                                </mat-form-field>
                              </div>                             
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Company name" type="text" formControlName="companyName">
                                  </mat-form-field>
                              </div>                              
                          </div>
                          <button mat-raised-button type="submit" class="btn btn-success pull-right">Update Profile</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>       
      </div>
  </div>
</div>
